{% extends "zinnia:zinnia/entry_detail_base.html" %}
{% load i18n zinnia_tags %}

{% block content %}

{% block entry-content %}
  {% include object.content_template with object_content=object.html_content %}
{% endblock entry-content %}

{% block entry-comments %}
<div id="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = '{{ object.pk }}';
    var disqus_title = '{{ object.title }}';
    var disqus_url = '{{ object.short_url }}'; 

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endblock entry-comments %}

{% block entry-pingbacks %}
<div id="pingbacks">
  <h3>{% trans "Pingbacks" %}</h3>
  {% if object.pingback_count %}
  {% with pingback_list=object.pingbacks %}
  <ol id="pingback-list">
    {% for pingback in pingback_list %}
    <li id="pingback-{{ pingback.pk }}" class="pingback vcard {% cycle box1,box2 %}">
      <p class="pingback-info">
    <a href="{{ pingback.url }}" rel="external nofollow"
           class="fn url org">{{ pingback.name }}</a>
    {% trans "on" context "on date" %}
        <abbr class="pingback-published" title="{{ pingback.submit_date|date:"c" }}">
          {{ pingback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
        </abbr>
        <a href="#pingback-{{ pingback.pk }}"
           id="c{{ pingback.pk }}" class="anchor-link"
           title="{% trans "Direct link to this pingback" %}">#</a>
      </p>
      <p class="pingback-content">
    {{ pingback.comment }}
      </p>
    </li>
    {% endfor %}
  </ol>
  {% endwith %}
  {% endif %}
  {% if object.pingbacks_are_open %}
  <p>{% trans "Pingbacks are open." %}</p>
  {% else %}
  <p>{% trans "Pingbacks are closed." %}</p>
  {% endif %}
</div>
{% endblock entry-pingbacks %}

{% block entry-trackbacks %}
{% if object.trackback_count or object.trackbacks_are_open %}
<div id="trackbacks">
  <h3>{% trans "Trackbacks" %}</h3>
  {% if object.trackback_count %}
  {% with trackback_list=object.trackbacks %}
  <ol id="trackback-list">
    {% for trackback in trackback_list %}
    <li id="trackback-{{ trackback.pk }}" class="trackback vcard {% cycle box1,box2 %}">
      <p class="trackback-info">
    <a href="{{ trackback.url }}" rel="external nofollow"
           class="fn url org">{{ trackback.name }}</a>
    {% trans "on" context "on date" %}
        <abbr class="trackback-published" title="{{ trackback.submit_date|date:"c" }}">
          {{ trackback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
        </abbr>
        <a href="#trackback-{{ trackback.pk }}"
           id="c{{ trackback.pk }}" class="anchor-link"
           title="{% trans "Direct link to this trackback" %}">#</a>
      </p>
      <p class="trackback-content">
    {{ trackback.comment }}
      </p>
    </li>
    {% endfor %}
  </ol>
  {% endwith %}
  {% endif %}
  {% if object.trackbacks_are_open %}
  <p>
    <a href="{% url 'zinnia_entry_trackback' object.pk %}" rel="trackback">
      {% trans "Trackback URL" %}</a>
  </p>
  {% endif %}
</div>
{% endif %}
{% endblock entry-trackbacks %}

{% endblock %}
